html {
    background-color: black
}

body {
    overflow: hidden;
}
canvas#Wikipedia {
    float:right;
}

#speed {
    position: relative;
}

#relative_sidebar {
    position: relative;
    background-color: white;
    top: -440px;
    right: 170px;
}

#sidebar {
    width: 1%;
    color: white;
    float: left;
}