.vertical-box {
  display: flex;
  height: 1024;
  width: 1024;
  flex-flow: column;
}
.horizontal-box {
  display: flex;
  flex-flow: row;
}
.spacer {
  flex: auto;
}
.centered-element {
  flex: none;
  background-color: white;
}
