<!DOCTYPE html>

<head>
    <title>SWiki</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <script src="../static/jquery-2.1.4.js"></script>
    <script src="../static/script.js"></script>
    
    <canvas id="Wikipedia"></canvas>
    
    <div id="sidebar">
            <a id="link_to_article" href="something"> <img src="/static/images/wikipedia_logo.svg"> <h1 id="article_title"></h1></a>
            
            <div class="container-left">
                <div class="menu">
                    Language
                    <br />
                    Speed
                    
                </div>
            </div>
            <div class="container-right">
                <select id="language-selector">
                    <option value="en">en</option>
                    <option value="es">es</option>
                </select>
                <input id="speed" type="range" min=".05" max="1" step=".05"/>
            </div>
            <div class="block" id="new_article">
                <button onclick="grabNewArticle();" name="new_article"> New article </button>
            </div>
    </div>
</body>
